<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366221021470-vkfc8sdgoit9jsfserha6n1busc5vret.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366221021470-vkfc8sdgoit9jsfserha6n1busc5vret</string>
	<key>API_KEY</key>
	<string>AIzaSyC4lfGR8cW21V8vplzq7APBLj6UlClwKlk</string>
	<key>GCM_SENDER_ID</key>
	<string>366221021470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kuropi.demostraded.Demostraded</string>
	<key>PROJECT_ID</key>
	<string>demostraded-2402</string>
	<key>STORAGE_BUCKET</key>
	<string>demostraded-2402.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366221021470:ios:90cb433c7cff2a1a21790f</string>
</dict>
</plist>